.cls-1 {
    fill: none;
}

.cls-2 {
    isolation: isolate;
}

.cls-3 {
    clip-path: url(#clip-path);
}

.cls-4 {
    fill: #888;
}

.cls-5 {
    fill: #8c8c8c;
}

.cls-6 {
    fill: #919191;
}

.cls-7 {
    fill: #959595;
}

.cls-8 {
    fill: #9a9a9a;
}

.cls-9 {
    fill: #9e9e9e;
}

.cls-10 {
    fill: #a3a3a3;
}

.cls-11 {
    fill: #a7a7a7;
}

.cls-12 {
    fill: #acacac;
}

.cls-13 {
    fill: #b0b0b0;
}

.cls-14 {
    fill: #b5b5b5;
}

.cls-15 {
    fill: #b9b9b9;
}

.cls-16 {
    fill: #838383;
}

.cls-17 {
    clip-path: url(#clip-path-2);
}

.cls-18 {
    fill: #7f7f7f;
}

.cls-19 {
    fill: #7a7a7a;
}

.cls-20 {
    fill: #767676;
}

.cls-21 {
    clip-path: url(#clip-path-3);
}

.cls-22 {
    fill: #e7e7e7;
}

.cls-23 {
    fill: #e5e5e5;
}

.cls-24 {
    fill: #e2e2e2;
}

.cls-25 {
    fill: #ddd;
}

.cls-26 {
    fill: #d9d9d9;
}

.cls-27 {
    fill: #d4d4d4;
}

.cls-28 {
    fill: #d0d0d0;
}

.cls-29 {
    fill: #cbcbcb;
}

.cls-30 {
    fill: #c7c7c7;
}

.cls-31 {
    fill: #c2c2c2;
}

.cls-32 {
    fill: #bebebe;
}

.cls-33 {
    fill: #e8e8e8;
}

.cls-34 {
    fill: #e9e9e9;
}

.cls-35 {
    fill: #eaeaea;
}

.cls-36 {
    fill: #ebebeb;
}

.cls-37 {
    fill: #ececec;
}

.cls-38 {
    fill: #ededed;
}

.cls-39 {
    fill: #eee;
}

.cls-40 {
    fill: #efefef;
}

.cls-41 {
    fill: #f0f0f0;
}

.cls-42 {
    fill: #f1f1f1;
}

.cls-43 {
    fill: #f2f2f2;
}

.cls-44 {
    clip-path: url(#clip-path-4);
}

.cls-45 {
    clip-path: url(#clip-path-5);
}

.cls-46 {
    clip-path: url(#clip-path-6);
}

.cls-47 {
    clip-path: url(#clip-path-7);
}

.cls-48 {
    clip-path: url(#clip-path-8);
}

.cls-49 {
    clip-path: url(#clip-path-9);
}

.cls-50 {
    clip-path: url(#clip-path-10);
}

.cls-51 {
    fill: #ababab;
}

.cls-52 {
    clip-path: url(#clip-path-11);
}

.cls-53 {
    clip-path: url(#clip-path-12);
}

.cls-54 {
    fill: #717171;
}

.cls-55 {
    clip-path: url(#clip-path-13);
}

.cls-56 {
    clip-path: url(#clip-path-14);
}

.cls-57 {
    clip-path: url(#clip-path-15);
}

.cls-58 {
    clip-path: url(#clip-path-16);
}

.cls-59 {
    clip-path: url(#clip-path-17);
}

.cls-60 {
    clip-path: url(#clip-path-18);
}

.cls-61 {
    clip-path: url(#clip-path-19);
}

.cls-62 {
    clip-path: url(#clip-path-20);
}

.cls-63 {
    clip-path: url(#clip-path-21);
}

.cls-64 {
    clip-path: url(#clip-path-22);
}

.cls-65 {
    clip-path: url(#clip-path-23);
}

.cls-66 {
    clip-path: url(#clip-path-24);
}

.cls-67 {
    clip-path: url(#clip-path-25);
}

.cls-68 {
    clip-path: url(#clip-path-26);
}

.cls-69 {
    clip-path: url(#clip-path-27);
}

.cls-70 {
    clip-path: url(#clip-path-28);
}

.cls-71 {
    clip-path: url(#clip-path-29);
}

.cls-72 {
    clip-path: url(#clip-path-30);
}

.cls-73 {
    clip-path: url(#clip-path-31);
}

.cls-74 {
    clip-path: url(#clip-path-32);
}

.cls-75 {
    clip-path: url(#clip-path-33);
}

.cls-76 {
    clip-path: url(#clip-path-34);
}

.cls-77 {
    clip-path: url(#clip-path-35);
}

.cls-78 {
    clip-path: url(#clip-path-36);
}

.cls-79 {
    clip-path: url(#clip-path-37);
}

.cls-80 {
    clip-path: url(#clip-path-38);
}

.cls-81 {
    clip-path: url(#clip-path-39);
}

.cls-82 {
    clip-path: url(#clip-path-40);
}

.cls-83 {
    clip-path: url(#clip-path-41);
}

.cls-84 {
    clip-path: url(#clip-path-42);
}

.cls-85 {
    clip-path: url(#clip-path-43);
}

.cls-86 {
    clip-path: url(#clip-path-44);
}

.cls-87 {
    clip-path: url(#clip-path-45);
}

.cls-88 {
    clip-path: url(#clip-path-46);
}

.cls-89 {
    clip-path: url(#clip-path-47);
}

.cls-90 {
    clip-path: url(#clip-path-48);
}

.cls-91 {
    clip-path: url(#clip-path-49);
}

.cls-92 {
    clip-path: url(#clip-path-50);
}

.cls-93 {
    clip-path: url(#clip-path-51);
}

.cls-94 {
    clip-path: url(#clip-path-52);
}

.cls-95 {
    clip-path: url(#clip-path-53);
}

.cls-96 {
    clip-path: url(#clip-path-54);
}

.cls-97 {
    clip-path: url(#clip-path-55);
}

.cls-98 {
    clip-path: url(#clip-path-56);
}

.cls-99 {
    clip-path: url(#clip-path-57);
}

.cls-100 {
    clip-path: url(#clip-path-58);
}

.cls-101 {
    clip-path: url(#clip-path-59);
}

.cls-102 {
    clip-path: url(#clip-path-60);
}

.cls-103 {
    clip-path: url(#clip-path-61);
}

.cls-104 {
    clip-path: url(#clip-path-62);
}

.cls-105 {
    clip-path: url(#clip-path-63);
}

.cls-106 {
    clip-path: url(#clip-path-64);
}

.cls-107 {
    clip-path: url(#clip-path-65);
}

.cls-108 {
    clip-path: url(#clip-path-66);
}

.cls-109 {
    clip-path: url(#clip-path-67);
}

.cls-110 {
    clip-path: url(#clip-path-68);
}

.cls-111 {
    clip-path: url(#clip-path-69);
}

.cls-112 {
    clip-path: url(#clip-path-70);
}

.cls-113 {
    clip-path: url(#clip-path-71);
}

.cls-114 {
    clip-path: url(#clip-path-72);
}

.cls-115 {
    clip-path: url(#clip-path-73);
}

.cls-116 {
    clip-path: url(#clip-path-74);
}

.cls-117 {
    clip-path: url(#clip-path-75);
}

.cls-118 {
    clip-path: url(#clip-path-76);
}

.cls-119 {
    clip-path: url(#clip-path-77);
}

.cls-120 {
    clip-path: url(#clip-path-78);
}

.cls-121 {
    clip-path: url(#clip-path-79);
}

.cls-122 {
    clip-path: url(#clip-path-80);
}

.cls-123 {
    clip-path: url(#clip-path-81);
}

.cls-124 {
    clip-path: url(#clip-path-82);
}

.cls-125 {
    clip-path: url(#clip-path-83);
}

.cls-126 {
    clip-path: url(#clip-path-84);
}

.cls-127 {
    clip-path: url(#clip-path-85);
}

.cls-128 {
    clip-path: url(#clip-path-86);
}

.cls-129 {
    clip-path: url(#clip-path-87);
}

.cls-130 {
    clip-path: url(#clip-path-88);
}

.cls-131 {
    clip-path: url(#clip-path-89);
}

.cls-132 {
    clip-path: url(#clip-path-90);
}

.cls-133 {
    clip-path: url(#clip-path-91);
}

.cls-134 {
    clip-path: url(#clip-path-92);
}

.cls-135 {
    clip-path: url(#clip-path-93);
}

.cls-136 {
    clip-path: url(#clip-path-94);
}

.cls-137 {
    clip-path: url(#clip-path-95);
}

.cls-138 {
    clip-path: url(#clip-path-96);
}

.cls-139 {
    clip-path: url(#clip-path-97);
}

.cls-140 {
    clip-path: url(#clip-path-98);
}

.cls-141 {
    clip-path: url(#clip-path-99);
}

.cls-142 {
    clip-path: url(#clip-path-100);
}

.cls-143 {
    clip-path: url(#clip-path-101);
}

.cls-144 {
    clip-path: url(#clip-path-102);
}

.cls-145 {
    clip-path: url(#clip-path-103);
}

.cls-146 {
    clip-path: url(#clip-path-104);
}

.cls-147 {
    clip-path: url(#clip-path-105);
}

.cls-148 {
    clip-path: url(#clip-path-106);
}

.cls-149 {
    clip-path: url(#clip-path-107);
}

.cls-150 {
    clip-path: url(#clip-path-108);
}

.cls-151 {
    clip-path: url(#clip-path-109);
}

.cls-152 {
    clip-path: url(#clip-path-110);
}

.cls-153 {
    clip-path: url(#clip-path-111);
}

.cls-154 {
    clip-path: url(#clip-path-112);
}

.cls-155 {
    clip-path: url(#clip-path-113);
}

.cls-156 {
    clip-path: url(#clip-path-114);
}

.cls-157 {
    clip-path: url(#clip-path-115);
}

.cls-158 {
    clip-path: url(#clip-path-116);
}

.cls-159 {
    clip-path: url(#clip-path-117);
}

.cls-160 {
    clip-path: url(#clip-path-118);
}

.cls-161 {
    clip-path: url(#clip-path-119);
}

.cls-162 {
    clip-path: url(#clip-path-120);
}

.cls-163 {
    clip-path: url(#clip-path-121);
}

.cls-164 {
    clip-path: url(#clip-path-122);
}

.cls-165 {
    clip-path: url(#clip-path-123);
}

.cls-166 {
    clip-path: url(#clip-path-124);
}

.cls-167 {
    clip-path: url(#clip-path-125);
}

.cls-168 {
    clip-path: url(#clip-path-126);
}

.cls-169 {
    clip-path: url(#clip-path-127);
}

.cls-170 {
    clip-path: url(#clip-path-128);
}

.cls-171 {
    clip-path: url(#clip-path-129);
}

.cls-172 {
    clip-path: url(#clip-path-130);
}

.cls-173 {
    clip-path: url(#clip-path-131);
}

.cls-174 {
    clip-path: url(#clip-path-132);
}

.cls-175 {
    clip-path: url(#clip-path-133);
}

.cls-176 {
    clip-path: url(#clip-path-134);
}

.cls-177 {
    clip-path: url(#clip-path-135);
}

.cls-178 {
    clip-path: url(#clip-path-136);
}

.cls-179 {
    fill: #003dc2;
}

.cls-180 {
    fill: #003dc2;
}

.cls-181 {
    fill: #003dc2;
}

.cls-182 {
    fill: #003dc2;
}

.cls-179:hover{
    fill: #00287F;
  }
.cls-180:hover{
    fill: #00287F;
}
.cls-181:hover{
    fill: #00287F;
}
.cls-182:hover{
    fill: #00287F;
}


#bars {
    position: absolute;
    visibility: hidden;
}
.name{
    position: absolute;
   
    color: #ffffff;
}

.bar {
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: 99;
  width: 20px;
  transition: height 1s;
  margin: 0 30px;
  background-color: rgb(0, 177, 64);
  -webkit-transition: height 1s;
}

.bar:before {
  content: "";
  position: absolute;
  transition: height 1s;
  left: -8px;
  bottom: 5px;
  height: 100%;
  width: 8px;
  background-color: rgb(1, 158, 58);
  transform: skewX(45deg);
  -webkit-transform: skewY(45deg);
  -webkit-transition: height 1s;
}
.b{
  position: absolute;
  top: -35px;
  left: -20px;
  color: #ffffff;
  
}
.bar:after {
  content: "";
  position: absolute;
  transition: height 1s;
  top: -8px;
  left: -4px;
  width: 20px;
  height: 8px;
  background-color: rgb(0, 202, 74);
  -moz-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  -webkit-transition: height 1s;
}



.bar1 {
    position: absolute;
  bottom: 0;
  height:0;
  transition: height 1s;
  z-index: 99;
  width: 20px;
  margin: 0 30px;
  background-color: rgb(200, 0, 161);
}

.bar1:before {
  content: "";
  position: absolute;
  transition: height 1s;
  left: -8px;
  bottom: 4px;
  height: 100%;
  width: 8px;
  background-color: rgb(156, 0, 125);
  transform: skewY(45deg);
  -webkit-transform: skewY(45deg);
}

.bar1:after {
  content: "";
  position: absolute;
  transition: height 1s;
  top: -8px;
  left: -4px;
  width: 20px;
  height: 8px;
  background-color: rgb(236, 0, 189);
  -moz-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
#party2{
    left:50px;
}
@media screen and (max-width:760px){
    .bar {
        position: absolute;
        bottom: 0;
        z-index: 99;
        height: 100%;
        width: 10px;
        margin: 0 30px;
        background-color: rgb(1, 158, 58);
      }
      
      .bar:before {
        content: "";
        position: absolute;
        left: -5px;
        bottom: 2px;
        height: 100%;
        width: 5px;
        background-color: rgb(0, 122, 45);
        -webkit-transform: skewY(45deg);
      }
      
      .bar:after {
        content: "";
        position: absolute;
        top: -5px;
        left: -2px;
        width: 10px;
        height: 6px;
        background-color: rgb(1, 158, 58);
        -moz-transform: skewX(45deg);
        -o-transform: skewX(45deg);
        -webkit-transform: skewX(45deg);
        transform: skewX(45deg);
      }
      .bar1 {
        position: absolute;
        bottom: 0;
        z-index: 99;
        height: 100%;
        width: 10px;
        margin: 0 30px;
        background-color: rgb(200, 0, 161);
      }
      
      .bar1:before {
        content: "";
        position: absolute;
        left: -5px;
        bottom: 2px;
        height: 100%;
        width: 5px;
        background-color: rgb(200, 0, 161);
        -webkit-transform: skewY(45deg);
      }
      
      .bar1:after {
        content: "";
        position: absolute;
        top: -5px;
        left: -2px;
        width: 10px;
        height: 6px;
        background-color: rgb(200, 0, 161);
        -moz-transform: skewX(45deg);
        -o-transform: skewX(45deg);
        -webkit-transform: skewX(45deg);
        transform: skewX(45deg);
      }

      #party2{
          left:25px;
      }

      .b{
        position: absolute;
        top: -25px;
        left: -10px;
        color: #ffffff;
        font-size: 10px;
      }
      .name{
        position: absolute;
        font-size: 15px;
        color: #ffffff;
    }
      
}

.dot1 {
    height: 15px;
    width: 15px;
    background-color: rgb(1, 158, 58);
    border-radius: 50%;
    display: inline-block;
  }

  .dot2 {
    height: 15px;
    width: 15px;
    background-color: rgb(200, 0, 161);
    border-radius: 50%;
    display: inline-block;
  }

  .nav-btn{
    background-color: #00B140;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Norms, Helvetica, Arial, sans-serif;
    border-radius: 3%;
  }
  .nav-btn:hover{
    background-color: #007E2E;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Norms, Helvetica, Arial, sans-serif;
    border-radius: 3%;
  }
  .map{
    margin-top: -55px;
    padding: 40px;
  }
  @media only screen and (max-width: 1024px){

    .map{
        margin-top:30px;
        padding: 40px;
    }
  
   }

   @media screen and (max-width: 600px) { 
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
     }
    }
@media screen and (min-width: 600px) { 
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;

    }
     
        }
