
 
  
<div class="c-top justify-content-center">
<div class="text-center">
 <img src="assets/icon1.png" style="width:150px;height: 150px;">
 <img src="assets/versus_icon.png" style="width:50px;height:50px;">
 <img src="assets/icon2.png" style="width:150px;height: 150px;">
</div>
  <div class="text-center largeview my-auto" >
    <img style="height: 4.5%;width: 15%" src="assets/cognizant_logo.png"> 
    &nbsp;
    <img style="height: 7%;width: 22%;margin-bottom: 1%" src="assets/DigitalMinister2.png"> 
  </div>


  <div class="text-center mobileview">
    <!-- <div style="color: white; font-size:40px;"><span class="title"><strong>Cognizant</strong><sup><i class="fa fa-registered"
            style="font-size: 25%;"></i></sup></span></div>
    <div><small class="padding" style="color: #00B140;font-size:40px;"> Digital Minister </small> </div> -->
  
    <img style="height: 13%;width: 45%" src="assets/cognizant_logo.png"/> 
    &nbsp;<br>
    <img style="height: 21%;width: 66%;margin-bottom: 1%" src="assets/DigitalMinister2.png"/> 
  
  </div>


  
  <div class="text-center" style="color:white; font-size: 20px;"><small>Drive a digital change by translating your learnings into votes...Vote for a cause</small>
    <div class="c-top-button text-center"><button type="button" class="btn btn-outline-success" routerLink="/dashboard">Explore</button></div>
  </div>


 <!-- <div class="" style="background-color:black">
  <span class="footer text-center" style="color: #FFFFFF;font-family: Arial,Regular;font-size: 14px;">
    © 2019 Cognizant, all rights reserved.
  </span>
  <div  class="text-right" style="">
    <img src="assets/cde_logo.png" style="width:10%;height:15%;">
  </div>
</div> -->
<!-- <div class="text-center" style="color: #FFFFFF;font-family: Arial,Regular;font-size: 14px;margin-top:50px ">
    © 2019 Cognizant, all rights reserved.
</div> -->

<div class="footer">
 
  <img src="assets/academy_logo.png" style="width:250px;height:30px;float:center;margin-top: 20px;">
  <img src="assets/cde_logo.png" style="width:100px;height:50;float:center">
</div>

</div>


